---
import tursoDB from "../lib/tursodb";
import Home from "../Components/Home"
// import Registration from "./Registration.astro"
//only uncomment below if project db is reinitialised or this is just a nuisance to the startup db are already created
// const createTables =`
// CREATE TABLE IF NOT EXISTS users (
//     id INTEGER PRIMARY KEY AUTOINCREMENT,
//     name VARCHAR(255),
//     username VARCHAR(60),
//     email VARCHAR(255),
//     position VARCHAR(155),
// 	placeofJob	VARCHAR(255),
//     passwordhash VARCHAR(255)
// ) `
// const createtable2 = `
// CREATE TABLE IF NOT EXISTS patients (
//     id INTEGER PRIMARY KEY,
//     name VARCHAR(255),
//     handler VARCHAR(255),
//     email VARCHAR(60),
//     admitStatus BOOLEAN DEFAULT FALSE,
//     comments TEXT,
//     visitDate DATE,
//     address VARCHAR(255)
// )
// `

// async function initDB (){
// 	try {
// 		await tursoDB.execute(createTables);
// 		console.log("DB Connection verification started")
// 	} catch (error) {
// 		console.log(error)

// 	}
// 	try {
// 		await tursoDB.execute(createtable2);
// 		console.log("DB Connection is good to go ,  Wish you a very GooDLuck  save alot of Lives")

// 	} catch (error) {
// 		console.log(error)
// 	}
// }
// initDB()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>

	<Home client:load />
	
  </body>
</html>
<script></script>
