---
import Hospital from "./Hospital.jsx"
import "./global.css"
import Registration from './Registration.astro'
---

<html lang="en">
<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
	<!-- <Hospital client:load/>
	 -->
		<Registration  />
	</body>
</html>
